.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.item-bg {
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/jpeg.jpg");
}