body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: OpenSans, Arial, sans-serif;
  line-height: 32px;
  color: crimson;
  background-color: lightblue;
  animation-name: font-flow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.item-bg {
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/jpeg.jpg");
}

@keyframes font-flow {
  from {
    font-stretch: 100%;
  }

  to {
    font-stretch: 75%;
  }
}
